<%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :applicant_name %>
  </div>

  <div class="field">
    <%= form.label "Contratado" %>
    <%= form.check_box :hired, id: :applicant_hired %>
  </div>

  <div class="field">
    <%= form.label "Asistió" %>
    <%= form.check_box :attended, id: :applicant_attended %>
  </div>
  <% if params[:interview_id] %>
    <%= form.hidden_field :interview_id, value: params[:interview_id] %>
  <% else %>
    <% interview_array = Interview.order(:interview_date).map { |interview| [interview.interview_date, interview.id] } %>
    <%= form.collection_select :interview_id, Interview.order(:interview_date).all, :id, :interview_date, prompt: 'Selecciona la fecha de entrevista' %>
  <% end %>
  <div class="actions">
    <%= form.submit 'Guardar'%>
  </div>
<% end %>
