<p id="notice"><%= notice %></p>

<h2>Todos los candidatos inscritos</h2>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th class="text-center">Contratado</th>
      <th class="text-center">Asistió</th>
      <th>Fecha Entrevista</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td class="text-center"><input type="checkbox" onclick="submitAttended('<%=applicant.id%>');" id="attended_<%=applicant.id%>" <%= 'checked' if applicant.attended %> disabled> </td>
        <td class="text-center"><input type="checkbox" onclick="submitHired('<%=applicant.id%>');" id="hired_<%=applicant.id%>" <%= 'checked' if applicant.hired %> disabled> </td>
        <td><% if applicant.interview.nil?  %> ---
        <% else %>
         <%= link_to applicant.interview.interview_date.strftime("%d-%m-%Y %H:%M"), applicant.interview %>
         <% end %> </td>
        <td><%= link_to 'Editar', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Eliminar', applicant, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear candidato', new_applicant_path %>
