<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Hired:</strong>
  <%= @applicant.hired %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @applicant.attended %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
